services:
  qbittorrent:
    image: lscr.io/linuxserver/qbittorrent:latest
    container_name: qbittorrent
    restart: unless-stopped
    networks:
      - traefik_proxy
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro
      - /var/docker/qbittorrent/config:/config
      - ${DOWNLOADS}:/data/downloads
    environment:
      PUID: 1000
      PGID: 1000
      UMASK: 002
      WEBUI_PORT: 8080
      TORRENTING_PORT: ${QBITTORRENT_PORT}
    ports:
      - ${QBITTORRENT_PORT}:${QBITTORRENT_PORT}
      - ${QBITTORRENT_PORT}:${QBITTORRENT_PORT}/udp
    labels:
      traefik.enable: true
      traefik.http.routers.qbittorrent.tls: true
      traefik.http.routers.qbittorrent.entrypoints: websecure
      traefik.http.services.qbittorrent.loadbalancer.server.port: 8080
      traefik.docker.network: traefik_proxy
      homepage.group: Download
      homepage.name: qBittorrent
      homepage.icon: qbittorrent.svg
      homepage.href: https://${QBITTORRENT_URL}
      homepage.description: Torrent management
      homepage.widget.type: qbittorrent
      homepage.widget.url: http://qbittorrent:8080
      homepage.widget.username: ${QBITTORRENT_USER}
      homepage.widget.password: ${QBITTORRENT_PASSWORD}
      homepage.widget.enableLeechProgress: true
      homepage.showStats: false

networks:
  traefik_proxy:
    external: true
