services:
  navidrome:
    image: deluan/navidrome:0.59.0
    container_name: navidrome
    user: 1000:1000
    ports:
      - 4533:4533
    restart: unless-stopped
    networks:
      - traefik_proxy
    environment:
      ND_LASTFM_ENABLED: false
      ND_SCANNER_PURGEMISSING: "full"
      ND_BACKUP_PATH: /backups
      ND_BACKUP_SCHEDULE: "0 0 * * *"
      ND_BACKUP_COUNT: 3
    volumes:
      - "/var/docker/navidrome:/data"
      - "/var/docker/navidrome/backups:/backups"
      - "${MUSIC_DIR}:/music:ro"
    labels:
      traefik.enable: true
      traefik.http.services.navidrome.loadbalancer.server.port: 4533
      traefik.http.routers.navidrome.entrypoints: websecure
      traefik.http.routers.navidrome.tls: true
      homepage.group: Media & Streaming
      homepage.name: Navidrome
      homepage.icon: navidrome.svg
      homepage.href: https://${NAVIDROME_URL}
      homepage.description: Music library management
      homepage.widget.type: navidrome
      homepage.widget.url: http://navidrome:4533
      homepage.widget.user: ${NAVIDROME_API_USER}
      homepage.widget.token: ${NAVIDROME_API_TOKEN}
      homepage.widget.salt: ${NAVIDROME_API_TOKEN_SALT}
      homepage.showStats: false

networks:
  traefik_proxy:
    external: true
