services:
  dockerproxy:
    image: ghcr.io/tecnativa/docker-socket-proxy:latest
    container_name: dockerproxy_traefik
    environment:
        CONTAINERS: 1 # Allow access to viewing containers
    networks:
      - default
    volumes:
        - /var/run/docker.sock:/var/run/docker.sock:ro
    restart: always

  traefik:
    image: traefik:v3.6.5
    container_name: traefik
    restart: always
    depends_on:
      - dockerproxy
    networks:
      - traefik_proxy
      - default
    ports:
      - 80:80
      - 443:443
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro
      - ./config:/etc/traefik/
      - ./certs:/etc/certs:ro
    labels:
      traefik.enable: true
      traefik.http.routers.traefik.tls: true
      traefik.http.routers.traefik.rule: Host(`${TRAEFIK_URL}`)
      traefik.http.routers.traefik.service: api@internal
      traefik.http.routers.traefik.entrypoints: websecure
      homepage.group: DNS & Router
      homepage.name: Traefik
      homepage.icon: traefik.svg
      homepage.href: https://${TRAEFIK_URL}
      homepage.description: Traefik proxy dashboard

networks:
  traefik_proxy:
    external: true
