services:
  dockerproxy:
    image: ghcr.io/tecnativa/docker-socket-proxy:latest
    container_name: dockerproxy_homepage
    environment:
        CONTAINERS: 1 # Allow access to viewing containers
    networks:
      - default
    volumes:
        - /var/run/docker.sock:/var/run/docker.sock:ro
    restart: always

  homepage:
    image: ghcr.io/gethomepage/homepage:v1.7.0
    container_name: homepage
    restart: always
    networks:
      - traefik_proxy
      - default
    environment:
      PUID: 1000
      PGID: 1000
      LOG_TARGETS: stdout
      HOMEPAGE_ALLOWED_HOSTS: ${HOMEPAGE_URL}
    env_file:
      - ./.env
    depends_on:
      - dockerproxy
    volumes:
      - ./config:/app/config
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro
      - /srv/media:/mnt/media:ro
    labels:
      traefik.enable: true
      traefik.http.routers.homepage.rule: Host(`${HOMEPAGE_URL}`)
      traefik.http.routers.homepage.entrypoints: websecure
      traefik.http.routers.homepage.tls: true

networks:
  traefik_proxy:
    external: true