services:
  jellyfin:
    image: jellyfin/jellyfin:10.11.3
    container_name: jellyfin
    # network_mode: host  # DLNA
    restart: unless-stopped
    user: 1000:1000
    # HW acceleration
    devices:   
      - /dev/dri/renderD128:/dev/dri/renderD128 # ls /dev/dri
    group_add:
      - "104" # getent group render | cut -d: -f3
    networks:
      - traefik_proxy
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro
      - /var/docker/jellyfin/config:/config
      - /var/docker/jellyfin/cache:/cache
      - ${MEDIA_PATH}:/data:ro
      - /srv/media:/external:ro
      - /srv/media2:/external2:ro
    ports:
      - 8096:8096
      - 8920:8920
      - 7359:7359/udp
      - 1900:1900/udp
    labels:
      traefik.enable: true
      traefik.http.routers.jellyfin.entrypoints: websecure
      traefik.http.routers.jellyfin.tls: true
      traefik.http.services.jellyfin.loadbalancer.server.port: 8096
      homepage.group: Media & Streaming
      homepage.name: Jellyfin
      homepage.icon: jellyfin.svg
      homepage.href: https://${JELLYFIN_URL}
      homepage.description: Jellyfin media server

networks:
  traefik_proxy:
    external: true
