services:
  jellyfin:
    image: jellyfin/jellyfin:10.11.6
    container_name: jellyfin
    # network_mode: host  # DLNA
    restart: unless-stopped
    user: 1000:1000
    # HW acceleration
    devices:
      - /dev/dri/renderD128:/dev/dri/renderD128 # ls /dev/dri
    group_add:
      - "988" # getent group render | cut -d: -f3
    networks:
      - traefik_proxy
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro
      - /var/docker/jellyfin/config:/config
      - /var/docker/jellyfin/cache:/cache
      - /srv/data:/data:ro
      - /srv/media:/media:ro
    ports:
      - 8096:8096
    labels:
      traefik.enable: true
      traefik.http.routers.jellyfin.entrypoints: websecure
      traefik.http.routers.jellyfin.tls: true
      traefik.http.services.jellyfin.loadbalancer.server.port: 8096
      homepage.group: Media & Streaming
      homepage.name: Jellyfin
      homepage.icon: jellyfin.svg
      homepage.href: https://${JELLYFIN_URL}
      homepage.description: Jellyfin media server
      homepage.widget.type: jellyfin
      homepage.widget.url: http://jellyfin:8096
      homepage.widget.key: ${JELLYFIN_API_KEY}
      homepage.widget.enableBlocks: true
      homepage.widget.enableNowPlaying: false
      homepage.widget.enableMediaControl: false
      homepage.showStats: false

networks:
  traefik_proxy:
    external: true
