services:
  dockerproxy:
    image: ghcr.io/tecnativa/docker-socket-proxy:latest
    container_name: dockerproxy_dozzle
    privileged: true
    environment:
      CONTAINERS: 1 # Allow access to viewing containers
      INFO: 1 # Allow access to system information
    networks:
      - default
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    restart: unless-stopped

  dozzle:
    image: amir20/dozzle:latest
    container_name: dozzle
    restart: unless-stopped
    depends_on:
      - dockerproxy
    networks:
      - traefik_proxy
      - default
    environment:
      DOCKER_HOST: tcp://dockerproxy_dozzle:2375
    labels:
      traefik.enable: true
      traefik.http.routers.dozzle.entrypoints: websecure
      traefik.http.routers.dozzle.tls: true
      traefik.http.services.dozzle.loadbalancer.server.port: 8080
      homepage.group: Monitoring & Management
      homepage.name: Dozzle
      homepage.icon: dozzle.svg
      homepage.href: https://${DOZZLE_URL}
      homepage.description: Real-time logging for docker containers
      homepage.showStats: false

networks:
  traefik_proxy:
    external: true
