services:
  beszel:
    image: "henrygd/beszel:0.18.2"
    container_name: "beszel"
    restart: unless-stopped
    volumes:
      - /var/docker/beszel/data:/beszel_data
      - /var/docker/beszel/socket:/beszel_socket
    networks:
      - traefik_proxy
      - beszel
    environment:
      PUID: 1000
      PGID: 1000
      APP_URL: https://${BESZEL_URL}
    env_file:
      - .env
    labels:
      traefik.enable: true
      traefik.http.routers.beszel.tls: true
      traefik.http.routers.beszel.entrypoints: websecure
      traefik.http.services.beszel.loadbalancer.server.port: 8090
      homepage.group: Monitoring & Management
      homepage.name: Beszel
      homepage.icon: beszel.svg
      homepage.href: https://${BESZEL_URL}
      homepage.description: Lightweight service monitoring tool
      homepage.showStats: false

  dockerproxy:
    image: ghcr.io/tecnativa/docker-socket-proxy:latest
    container_name: dockerproxy_beszel
    environment:
      CONTAINERS: 1 # Allow access to viewing containers
      INFO: 1 # Allow access to system information
    networks:
      - beszel
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    restart: unless-stopped

  beszel-agent:
    image: "henrygd/beszel-agent:0.18.2-alpine"
    container_name: "beszel-agent"
    restart: unless-stopped
    depends_on:
      - dockerproxy
    network_mode: host
    volumes:
      - /var/docker/beszel/socket:/beszel_socket
      - /var/docker/beszel/agent-data:/var/lib/beszel-agent
      - /mnt/media1/.beszel:/extra-filesystems/sdb1__Media1:ro
      - /mnt/media2/.beszel:/extra-filesystems/sdb2__Media2:ro
      - /srv/data/.beszel:/extra-filesystems/sdc1__Data:ro
    devices:
      - /dev/nvme0:/dev/nvme0
      - /dev/sda:/dev/sda
      - /dev/sdb:/dev/sdb
      - /dev/sdc:/dev/sdc
    environment:
      LISTEN: /beszel_socket/beszel.sock
      DOCKER_HOST: tcp://dockerproxy_beszel:2375
      KEY: ${BESZEL_SYSTEM_KEY}
      TOKEN: ${BESZEL_TOKEN}
      HUB_URL: https://${BESZEL_URL}
      DISK_USAGE_CACHE: 30m
    cap_add:
      - SYS_RAWIO # required for S.M.A.R.T. data
      - SYS_ADMIN # required for NVMe S.M.A.R.T. data

networks:
  traefik_proxy:
    external: true
  beszel:
