services:
  beszel:
    image: 'henrygd/beszel:0.16.1'
    container_name: 'beszel'
    restart: unless-stopped
    volumes:
      - /var/docker/beszel/data:/beszel_data
      - /var/docker/beszel/socket:/beszel_socket
    networks:
      - traefik_proxy
      - beszel
    environment:
      PUID: 1000
      PGID: 1000
    labels:
      traefik.enable: true
      traefik.http.routers.beszel.tls: true
      traefik.http.routers.beszel.entrypoints: websecure
      traefik.http.services.beszel.loadbalancer.server.port: 8090
      homepage.group: Monitoring
      homepage.name: Beszel
      homepage.icon: beszel.svg
      homepage.href: https://${BESZEL_URL}
      homepage.description: Lightweight service monitoring tool
      homepage.widget.type: beszel
      homepage.widget.url: https://${BESZEL_URL}
      homepage.widget.username: ${HOMEPAGE_VAR_SERVICE_BESZEL_LOGIN}
      homepage.widget.password: ${HOMEPAGE_VAR_SERVICE_BESZEL_PASSWORD}
      homepage.widget.systemId: ${HOMEPAGE_VAR_SERVICE_BESZEL_SYSTEM}
      homepage.widget.fields: '["status", "cpu", "memory", "network"]'
      homepage.widget.version: 2
      homepage.showStats: false

  dockerproxy:
    image: ghcr.io/tecnativa/docker-socket-proxy:latest
    container_name: dockerproxy_beszel
    privileged: true
    environment:
        CONTAINERS: 1 # Allow access to viewing containers
        INFO: 1 # Allow access to system information
    networks:
      - beszel
    volumes:
        - /var/run/docker.sock:/var/run/docker.sock:ro
    restart: unless-stopped

  beszel-agent:
    image: 'henrygd/beszel-agent:0.16.1-alpine'
    container_name: 'beszel-agent'
    restart: unless-stopped
    depends_on:
      - dockerproxy
    network_mode: host
    volumes:
      - /var/docker/beszel/socket:/beszel_socket
      - /srv/data/.beszel:/extra-filesystems/data:ro
    environment:
      LISTEN: /beszel_socket/beszel.sock
      DOCKER_HOST: tcp://dockerproxy_beszel:2375
      KEY: ${BESZEL_SYSTEM_KEY}
    devices: # list of devices to monitor
        - /dev/nvme0n1:/dev/nvme0n1
    cap_add:
        - SYS_RAWIO # required for S.M.A.R.T. data
        - SYS_ADMIN # required for NVMe S.M.A.R.T. data

networks:
  traefik_proxy:
    external: true
  beszel:
