services:
  metube:
    image: ghcr.io/alexta69/metube:2025.12.05
    container_name: metube
    restart: unless-stopped
    networks:
      - traefik_proxy
    volumes:
      - ${METUBE_DOWNLOADS}:/downloads
      - ${METUBE_COOKIES}:/cookies
    environment:
      YTDL_OPTIONS: '{cookiefile":"/cookies/cookies.txt"}'
    labels:
      traefik.enable: true
      traefik.http.routers.metube.tls: true
      traefik.http.routers.metube.entrypoints: websecure
      traefik.http.services.metube.loadbalancer.server.port: 8081
      homepage.group: Download
      homepage.name: Metube
      homepage.icon: metube.svg
      homepage.href: https://${METUBE_URL}
      homepage.description: Web GUI for yt-dlp

networks:
  traefik_proxy:
    external: true
