GRIMMORY_URL=grimmory.homeserver.internal
BOOKS=books/books
BOOKDROP=books/bookdrop

USER_ID=1000
GROUP_ID=1000
DISK_TYPE=LOCAL

MYSQL_ROOT_PASSWORD=j
MYSQL_DATABASE=
DATABASE_URL=jdbc:mariadb://mariadb:3306/grimmory
DB_USER=
DB_PASSWORD=

TZ=Etc/UTC
